
div * {
body{background-color: #bdc3c7;
}

h1 {color:black; background-color: purple; color: #9b59b6*;">Hallo, Selamat Datang di Halaman Pribadi Saya
}

h3{color:black; background-color:powderblue"
}

{
    font-size: 20px}




